body {
    font-family: 'Playfair Display', serif;
}

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.534);
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-collapse {
    background-color: black;
}

.alert-container {
    padding-right: 0;
    padding-left: 0;
}

.alert{
    border-radius: 0;
    margin: 0;
    padding: 5px 15px;
}

.alert-warning {
    color: #443507;
    background-color: #f7bf32;
    border-color: #f7bf32;
}

.callout-container{
    height: 100vh;

    background: url('../images/anastasia-zhenina-whisky-unsplash.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}

/* Jumnotron */ 
.jumbotron-header{
    color: rgb(226, 226, 226);
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron {
    background-color: transparent;
}
.jumbotron small {
    font-size: 65%;
    font-style: italic;
    color: rgb(226, 226, 226);
}
.jumbotron .lead {
    color:#a5a7ad;
}

.jumbotron-divider{
    border-top: 3px solid #a2795c;
        height: 5px;
        width: 130px;
}

.block-divider {
    border-top: 2px solid #ffc107c4;
}

.btn--col {
    background: #a2795c;
    border-color: #a2795c;
    color: white;
}

.btn--col:hover {
    background-color: #935f3a;
    border-color: #935f3a;
    color: white;
}

.btn-radius {
    border-radius: 23px;
}

.quotes-container {
    background-color: #a2795c;
}

.quotes-header {
    margin-top: 30px;
}

.quotes-container blockquote {
    margin: 50px;
}

.features-container{}

.monthly-fav-container{}
