body {
    font-family: 'Playfair Display', serif;
}
.alert-container {}

.callout-container{
    height: 100vh;

    background: url('../images/anastasia-zhenina-whisky-unsplash.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}

/* Jumnotron */ 
.jumbotron-header{
    color: rgb(226, 226, 226);
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron {
    background-color: transparent;
}
.jumbotron small {
    font-size: 65%;
    font-style: italic;
    color: rgb(226, 226, 226);
}
.jumbotron .lead {
    color:#7e828d;
}

.jumbotron-divider{
    border-top: 3px solid #a2795c;
        height: 5px;
        width: 130px;
}

.block-divider {
    border-top: 2px solid #ffc107c4;
}

button.btn.btn-lg.btn--col {
    background: #a2795c;
    border-color: #a2795c;
    color: white;
}

button.btn.btn-lg.btn--col:hover {
    background-color: #935f3a;
    border-color: #935f3a;
    color: white;
}

.quotes-container{}

.features-container{}

.monthly-fav-container{}
